body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/*Index Page and headers on all pages*/
h1 {
    background-color: blueviolet;
    font-family: "Brush Script MT", sans-serif;
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    border-style:groove;
}

.page-container {
    display: flex;
    height: calc(100vh - 96.24px); /* full page - (content + margins + borders) */
}

#recipe-container {
    text-align: center;
    padding: 0px;
    width: 100%;
    list-style-type: none;
}

.recipe-list {
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", sans-serif;
    font-size: 20px;
    display: inline-block;
    font-style: italic;
    a {
        text-decoration: none;
        color: white;
        background-color: blueviolet;
        padding: 4.5px;
        border-style: groove;
        margin: 5px;
    }
}

/* Recipe page focused styling*/

.recipe-page-container{
    height: calc(100vh - 96.24px);
}

h2,
h3 {
    font-family: "Lucida Handwriting", sans-serif;
    font-variant: small-caps;
}

.ingredients,
.steps,
p {
    font-family: Helvetica, Tahoma, sans-serif;
}

.ingredients {
    font-style: italic;
    list-style-type: square;
}

img {
    margin-left: 16px;
    border-radius: 16px;
    border-style: groove;
    border-color: blueviolet;
    
}